@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --first-color: #345A8B;
    --second-color: #FF8515;
    --second-light-color: #fff5ec;
    --gray-light-color: #efefef;
    --white-color: #ffffff;
    --black-color: #000000;
    --first-font: "Outfit", sans-serif;
    --second-font: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--first-font);
}
p, span, a, small, li, label, button, .btn {
    font-family: var(--second-font);
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    font-size: 18px;
}

p, li {
	font-weight: 400;
    font-size: 18px;
}
.btn {
   font-size: 18px; 
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--first-color);
}
.form-select:focus {
    box-shadow: none;
    border: 1px solid var(--first-color);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--rating-color);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--first-color);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--white-color);
}

.accordion-button:not(.collapsed) {
    background-color: var(--white-color) !important;
    color: var(--first-color) !important;
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    html,body {
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
    html,body {
        overflow-x: hidden;
    }
}

/* Top Nav */
.top_nav {
    padding: 10px 0;
    background-color: var(--first-color);
}
.number_info li {
    display: inline-block;
}
.number_info li a {
    color: var(--white-color);
}
.social_media li {
    display: inline-block;
}
.social_media li a {
    color: var(--white-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .top_nav {
        padding: 6px 0;
    }
    .number_info {
        display: none;
    }
    .social_media {
        text-align: center;
    }
}
/* Top Nav */

/* Navbar */
nav {
    position: sticky;
    top: 10px;
    z-index: 999;
    margin: 0 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(124, 124, 124, 0.25),
        inset 0 0 20px rgba(255, 255, 255, 0.427);
}
nav img {
    width: 130px;
    padding: 5px 0;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    nav {
        margin: 0 10px;
    }
}
/* Navbar */

/* Section Two */
.section_two {
    padding: 50px 0;
    background-color: var(--gray-light-color);
    background-image: url("../image/why-choose-one-shape-4.png");
    background-repeat: no-repeat;
}
.second_box {
    outline: 1px solid var(--first-color);
    border-radius: 8px;
    padding: 20px;
    transition: .2s ease-in-out;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(255, 146, 87, 0.341),
        inset 0 0 20px rgba(255, 255, 255, 0.694);
}
.second_box i {
    color: var(--second-color);
}
.second_box:hover i {
    color: var(--white-color);
}
.second_box:hover {
    background: var(--second-color);
    transition: .2s ease-in-out;
    color: var(--white-color);
    outline: none;
    transform: translateY(-10px);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow:
        0 8px 32px rgb(255, 255, 255),
        inset 0 0 20px rgba(255, 119, 35, 0.792);
}
.second_2nd_box {
    background-color: var(--second-color) !important;
    color: var(--white-color);
    outline: none;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow:
        0 8px 32px rgb(255, 255, 255),
        inset 0 0 20px rgba(255, 119, 35, 0.792);
}
.second_2nd_box i {
    color: var(--white-color);
}
.second_2nd_box:hover i {
    color: var(--first-color);
}
.second_2nd_box:hover {
    background-color: var(--white-color) !important;
    color: var(--black-color) !important;
    outline: 1px solid var(--first-color) !important;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow:
        0 8px 32px rgba(255, 255, 255, 0.849),
        inset 0 0 20px rgba(255, 255, 255, 0.854);
}
.second_box h4 {
    margin-top: 20px;
}
.second_box i {
    font-size: 40px;
}
.second_box p {
    height: 130px;
    overflow-y: scroll;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .section_two {
        padding: 30px 0;
    }
}
/* Section Two */

/* Third Section */
.third_section {
    padding: 50px 0;
}
.third_section h2 {
    font-size: 45px;
}
.third_img_tag {
    position: relative;
}
.third_section img {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
}
.earth_batch {
    width: auto;
    background-color: var(--second-color);
    padding: 20px;
    border-radius: 10px;
    color: var(--white-color);
    position: absolute;
    bottom: -25px;
    left: 20px;
}
.earth_batch i {
    font-size: 40px;
}
.third_img_tag img:hover .earth_batch {
    transform: translateY(-10px);
}
.third_right_box {
    background-color: var(--first-color);
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    color: var(--white-color);
}
.third_right_box i {
    font-size: 40px;
    /* transform: rotate(-45deg); */
    margin-bottom: 15px;
    animation: iconAnime 5s linear infinite;
}
@keyframes iconAnime {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0);
    }
}
.since_text {
    color: var(--first-color);
}
.since_date span {
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    background-color: var(--second-color);
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--white-color);
}
.third_bubble {
    background-color: var(--second-light-color);
    padding: 25px;
    border-radius: 10px;
    margin-top: 20px;
}
.third_bubble i {
    font-size: 40px;
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
    transition: .3s ease-in-out;
}
.third_bubble:hover i {
    background-color: var(--second-color);
    color: var(--white-color);
    transition: .3s ease-in-out;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .third_section {
        padding: 30px 0;
    }
    .third_section h2 {
        font-size: 30px;
    }
    .earth_batch {
        width: 80%;
    }
    .third_right_side {
        margin-top: 50px;
        display: block !important;
    }
    .third_right_box 
    {
        margin-bottom: 20px;
        width: 70%;
    }
}
/* Third Section */


/* Service Section */
.service_section {
    padding: 50px 0;
    background-image: url("../image/pattern-2.jpg");
    margin-top: 40px;
}
.service_section h5 {
    display: inline;
    background-color: var(--second-color);
    padding: 5px 10px;
    border-radius: 50px;
    color: var(--white-color);
}
.service_section h4 {
    font-size: 22px;
}
.service_section .fa-nfc-directional {
    font-size: 40px;
}
.serve_div {
    background: rgba(255, 255, 255, 0.2);
    color: var(--black-color);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow:
        /* 0 8px 10px rgba(255, 255, 255, 0.849), */
        inset 0 0 10px rgba(255, 255, 255, 0.854);
}
.serve_div img {
    border-radius: 10px;
}
.serve_div .service_pera {
    height: 120px;
    overflow-y: scroll;
}
.service_content {
    padding: 15px;
    outline: 1px solid var(--first-color);
    border-radius: 10px;
}
.serve_div:hover .fa-nfc-directional {
    color: var(--second-color);
}
.serve_div:hover h4 {
    color: var(--first-color);
}
.service_section h2 {
    margin-top: 20px;
    font-size: 50px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .service_section {
        padding: 50px 0;
        margin-top: 30px;
    }
}
/* Service Section */

/* Why Choose */
.why_choose {
    padding: 50px 0;
}
.why_choose h5 {
    display: inline;
    background-color: var(--second-color);
    padding: 5px 10px;
    border-radius: 50px;
    color: var(--white-color);
}
.why_choose h2 {
    margin-top: 20px;
    font-size: 50px;
}
.choose_main_img {
    position: relative;
}
.choose_main_img img {
    border-radius: 10px;
}
.choose_sub_img {
    position: absolute;
    right: 80px;
    bottom: -20px;
    width: 350px;
    border-radius: 10px;
}
/* Why Choose */


.footer_copywrite_part {
    background-color: var(--first-color);
    padding: 10px 0;
}
.footer_copywrite_part p {
    color: var(--white-color);
}
.footer_copywrite_part a {
    color: #ffffff;
    text-decoration: none;
}

#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    z-index: 999;
    background-color: var(--second-color);
}
#btn-back-to-top i {
    color: var(--white-color);
}